@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

html,
body {
    width: 100dvw;
    overflow: hidden;
    height: 100dvh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../public/images/wallpaper.png');
}

@theme {
    --font-georama: 'Georama', sans-serif;
    --font-jost: 'Jost', sans-serif;
    --breakpoint-3xl: 1920px;
}

@utility flex-center {
    @apply flex items-center justify-center;
}

@utility flex-col-center {
    @apply flex flex-col items-center justify-center;
}

@utility abs-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@layer base {
    main {
        @apply w-dvw h-dvh overflow-hidden;
    }

    nav {
        @apply flex justify-between items-center bg-white/50 backdrop-blur-3xl p-2 px-5 select-none
    }

    div {
        @apply flex items-center max-sm:justify-center gap-5;
    }

    nav:last-child {
        @apply max-sm:hidden;
    }

    ul {
        @apply flex items-center gap-5 max-sm:hidden
    }

    p {
        @apply text-sm cursor-pointer hover:underline transition-all duration-300
    }

    .icon-hover {
        @apply transition-all duration-300 hover:scale-110 cursor-pointer;
    }

    time {
        @apply text-xs font-bold
    }

    #welcome {
        @apply w-dvw  flex-col text-white h-dvh flex items-center justify-center p-5 max-sm:flex-col sm:p-10 md:p-16 lg:p-20 ;
    }
    .small-device{
        @apply sm:hidden
    }

    #dock {
        @apply absolute bottom-5 left-1/2 -translate-x-1/2 z-50 select-none hidden sm:block;

        .dock-container {
            @apply bg-white/20 backdrop-blur-md justify-between rounded-2xl p-1.5
            flex items-end gap-1.5;
            
        }

        .tooltip {
            @apply !p-1 !p-3 !w-fit !text-center !text-xs !rounded-md !bg-blue-200 !text-blue-900 !shadow-2xl;
        }

        .dock-icon {
            @apply size-14 3xl:size-20 cursor-pointer; 

            img {
                @apply object-cover object-center;
            }
        }
    }
}